.goTop {
	position: fixed;
	height: 60px;
	width: 40px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	right: 30px;
	bottom: 40px;
	color: grey;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background: #F4F4F0;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	transition: all .5s;
	display: none;
}

.goTop:hover {
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.goTop.display {
	display: block;
}